@model CarpoolApp.Models.Vozac

@{
    ViewData["Title"] = "Dodaj";
}

<h1>Unesite podatke o vozaču</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Dodaj">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BrVozackeDozvole" class="control-label">Broj vozačke dozvole</label>
                <input asp-for="BrVozackeDozvole" class="form-control" />
                <span asp-validation-for="BrVozackeDozvole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumIstekaVozackeDozvole" class="control-label">Datum isteka vozačke dozvole</label>
                <input asp-for="DatumIstekaVozackeDozvole" class="form-control" />
                <span asp-validation-for="DatumIstekaVozackeDozvole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

