
@{
    ViewData["Title"] = "Prikazi";
    var podaci = (List<Vozac>) ViewData["podaci"];
}

<h1>Vozači</h1>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Vozač</th>
        <th scope="col">Korisnik</th>
        <th scope="col">Broj vozačke dozvole</th>
        <th scope="col">Datum isteka vozačke dozvole</th>
    </tr>
    </thead>
    @foreach (var x in podaci)
    {
        <tbody>
        <tr>
            <th scope="row">@x.VozacID</th>
            <th scope="row">@x.Korisnik</th>
            <th scope="row">@x.BrVozackeDozvole</th>
            <th scope="row">@x.DatumIstekaVozackeDozvole</th>
            <th scope="row"><a href="/Vozac/Obrisi?VozacID=@x.VozacID">Obrisi</a></th>
        </tr>
        </tbody>
    }
</table>

