@using Microsoft.AspNetCore.Identity
@inject SignInManager<Korisnik> SignInManager
@inject UserManager<Korisnik> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mojStyle.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed&display=swap" rel="stylesheet">
    <!-- Custom fonts for this theme -->
    <link href="~/bootstrapTheme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this theme -->
    <link href="~/bootstrapTheme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="~/bootstrapTheme/css/freelancer.css" rel="stylesheet" asp-append-version="true">

    <!-- Bootstrap core JavaScript -->
    <script src="~/bootstrapTheme/vendor/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/bootstrapTheme/vendor/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

    <!-- Plugin JavaScript -->
    <script src="~/bootstrapTheme/vendor/jquery-easing/jquery.easing.min.js" asp-append-version="true"></script>

    <!-- Custom scripts for this template -->
    <script src="~/bootstrapTheme/js/freelancer.min.js" asp-append-version="true"></script>

    <script src="~/js/mojJs.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/jsFIT.js" asp-append-version="true"></script>

    <style>
        body {
            font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand js-scroll-trigger">Carpool</a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1">
                            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                <partial name="_LoginPartial" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    @RenderBody()




    @if (!ViewData["Title"].Equals("Prijavi se") && !ViewData["Title"].Equals("Registracija"))
    {
        <!-- Footer -->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">

                    <!-- Footer Location -->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Lokacija</h4>
                        <p class="lead mb-0">
                            Sjeverni Logor bb
                            <br>Mostar
                        </p>
                    </div>

                    <!-- Footer Social Icons -->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Potražite nas</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#">
                            <i class="fab fa-fw fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#">
                            <i class="fab fa-fw fa-twitter"></i>
                        </a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#">
                            <i class="fab fa-fw fa-linkedin-in"></i>
                        </a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#">
                            <i class="fab fa-fw fa-dribbble"></i>
                        </a>
                    </div>

                    <!-- Footer About Text -->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">O nama</h4>
                        <p class="lead mb-0">
                            Aplikacija namijenjena vozačima i putnicima u svrhu smanjivanja troškova kao i socijalizacije ljudi by
                            <a href="https://www.linkedin.com/in/amarsabic">Amar Šabić</a>.
                        </p>
                    </div>

                </div>
            </div>
        </footer>

        <!-- Copyright Section -->
        <section class="copyright py-4 text-center text-white">
            <div class="container">
                <small>Copyright &copy; Carpool 2020</small>
            </div>
        </section>


    }
    else
    {
        <!-- Copyright Section -->
        <section class="copyright py-4 text-center text-white">
            <div class="container">
                <small>Copyright &copy; Carpool 2020</small>
            </div>
        </section>
    }

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/mojJs.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/jsFIT.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>





