@model AutomobilDodajVM
@{
    ViewData["Title"] = "Dodaj";
}
@*<link rel="stylesheet" href="~/css/driver.css" asp-append-version="true" />*@

<!-- Theme CSS -->
<link href="~/bootstrapTheme/css/freelancer.css" rel="stylesheet" asp-append-version="true">

@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
@*<link rel="stylesheet" href="~/css/korisnickiProfil.css" asp-append-version="true" />*@

<!-- Bootstrap core JavaScript -->
<script src="~/bootstrapTheme/vendor/jquery/jquery.min.js" asp-append-version="true"></script>
<script src="~/bootstrapTheme/vendor/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

<!-- Plugin JavaScript -->
<script src="~/bootstrapTheme/vendor/jquery-easing/jquery.easing.min.js" asp-append-version="true"></script>

<!-- Contact Form JavaScript -->
<script src="~/bootstrapTheme/js/jqBootstrapValidation.js" asp-append-version="true"></script>
<script src="~/bootstrapTheme/js/contact_me.js" asp-append-version="true"></script>

<!-- Custom scripts for this template -->
<script src="~/bootstrapTheme/js/freelancer.min.js" asp-append-version="true"></script>

<!-- Contact Section -->
<section class="page-section portfolio" id="contact">
    <div class="container">

        <!-- Contact Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Dodajte novi automobil!</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-car"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Contact Section Form -->
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <form enctype="multipart/form-data" novalidate="novalidate" method="post" action="Dodaj">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Naziv</label>
                            <input asp-for="Naziv" class="form-control" id="name" type="text" placeholder="Naziv" required="required" data-validation-required-message="Molimo Vas unesite naziv automobila.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Model</label>
                            <input asp-for="Model" class="form-control" type="text" placeholder="Model" required="required" data-validation-required-message="Molimo Vas unesite naziv modela.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Godina proizvodnje</label>
                            <input asp-for="Godiste" class="form-control" id="phone" type="tel" placeholder="Godina proizvodnje" required="required" data-validation-required-message="Molimo Vas unesite godinu proizvodnje.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Broj registarskih oznaka</label>
                            <input asp-for="BrojRegOznaka" class="form-control" id="phone" placeholder="Broj registarskih oznaka" required="required" data-validation-required-message="Molimo Vas unesite broj registarskih oznaka.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Datum isteka registarskih oznaka</label>
                            <input asp-for="DatumIstekaRegistracije" class="form-control" id="phone" placeholder="Datum isteka registarskih oznaka" required="required" data-validation-required-message="Molimo Vas unesite datum isteka registarskih oznaka.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Slika" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="Slika" class="form-control custom-file-input" />
                            <label class="custom-file-label">Odaberite sliku...</label>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xl">Dodaj</button>
                    </div>


                    @section Scripts{
                        <script>
                            $(document).ready(function () {
                                $('.custom-file-input').on("change", function () {
                                    var fileName = $(this).val().split("\\").pop();
                                    $(this).next('.custom-file-label').html(fileName);
                                });
                            });
                        </script>
                    }
                </form>
            </div>
        </div>

    </div>
</section>