@{
    ViewData["Title"] = "CarpoolApp";
}



<div class="homePage">
    <div>
        <div id="naslovPretrazi"></div>
        <form>
            <div class="form-row" id="mojaForma">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Polazište">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Odredište">
                </div>
            </div>
        </form>
    </div>
</div>