@model CarpoolApp.ViewModels.SearchDestinacije

@{
    ViewData["Title"] = "CarpoolApp";
}

<link href="~/bootstrapTheme/css/freelancer.css" rel="stylesheet" asp-append-version="true">
<link rel="stylesheet" href="~/css/homeIndex.css" asp-append-version="true" />

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 naslovJS" id="naslovPretrazi"></h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-car"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="text-center col-lg-10 mx-auto mt-4 formaIndex">
            <form action="/Home/SearchDestinacija" method="post">
                <div class="form-row">
                    <div class="col-sm">
                        <select asp-for="SearchPolazisteId" asp-items="Model.polazista" class="form-control selectStyleHome"> 
                            <option disabled="disabled" selected>Polazište</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <select asp-for="SearchOdredisteId" asp-items="Model.odredista" class="form-control selectStyleHome">
                            <option disabled="disabled" selected>Odredište</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Pretraži</button>
                </div>
            </form>

        </div>

    </div>
</section>



