@{
    ViewData["Title"] = "CarpoolApp";
}



    <div class="homePage">
        <div>
            <form>
                <div class="form-row" id="mojaForma">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Polazište">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Odredište">
                    </div>
                    <button type="button" class="btn btn-primary">Pretraži</button>
                    <div id="naslovPretrazi"></div>

                </div>
            </form>
        </div>
       
    </div>