.loginPage {
    background-image: url('/emptyvehicle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    height: 100vh;
    position: relative;
    margin-top: -17px;
}

body {
    overflow: hidden;
}

#account {
    background-color: rgba(33, 37, 41, 0.9);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.form-control {
    padding: 22px;
    width: 100%;
    border-radius: 50px;
    line-height: 1.25;
    border: none;
}

#loginDescription { color: white; }

#PassRegForgot, #forgot-password {
    font-weight: bold;
    color: white;
}

.loginButton { background-color: rgba(0, 136, 169, 1) !important; }

.loginButton:hover { background-color: rgba(0, 136, 169, 0.95) !important; }

hr {
    border-top: 1px solid rgba(0, 136, 169,.2);
}