/*homePage*/
.homePage {
    background-image: url('/car3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    height: 100vh;
    position: relative;
    margin-top: -17px;
}

#mojaForma {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.form-row select {
    padding: 22px;
    width: 100%;
    border-radius: .25rem;
    border-radius: 50px;
    line-height: 1.25;
    border: 1px solid #212529;
    border: none;
}*/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    background-position-x: 390px;
}

.selectStyle {
    border-radius: 50px;
    text-indent: 5px;
    font-size:18px;
}

.btn-primary {
    padding: 9px 25px;
    background-color: #212529;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
.btn-primary:hover {
    background-color: #212529 !important;
    color: white;
    opacity: 0.95;
}

.btn-light {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    cursor: pointer;
    border-radius: 50px;
    color: white;
}
    .btn-light:hover {
        background-color: rgba(0, 136, 169, 1) !important;
        color: white;
        opacity: 0.95;
    }

#naslovPretrazi {
    text-transform: uppercase;
    font-size: 53px;
    font-weight: 400;
    letter-spacing: 5px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: white;
    width: 100%;
    text-align: center;
}
/*homePage END*/

